body {
    background-color: #f8fafc;
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(225px, 1fr) 3fr;
    grid-template-rows: 10% 90%;
}

header {
    background-color: #1e293b;
    color: white;
    grid-column: 1 / 3;
    font-size: 24pt;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.sidebar {
    background-color: #cbd5e1;
    grid-row: 2/ 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li, .projects>button {
    margin: 10px;
    padding: 10px;
}

.sidebar li:hover, .projects>button:hover {
    background-color: white;
}

.addProjectButton.clicked {
    display: none;
}

.addProjectForm{
    display: none;
}

.addProjectForm.show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    padding: 10px;
}

.addProjectForm input[type=submit]{
    grid-row: 2/3;
}

.addProjectForm input[type=text]{
    grid-column: 1/3;
}